include COPYING
include CREDITS.txt
include MANIFEST.in
include py_test.py
recursive-include test_media *.js *.gif *.html *.cs *.xhtml *.txt *.Config
recursive-include selenium *.py
recursive-include docs *
prune docs/*.pyc
prune docs/.build
prune selenium/*.pyc

